<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>CRUD Mission - Spring Boot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <style>
        input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            -webkit-transition: .5s;
            transition: .5s;
            outline: 0;
            font-family: 'Open Sans', serif;
        }
    </style>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      var app = angular.module("FruitManagement", []);

      //Controller Part
      app.controller("FruitManagementController", function ($scope, $http, $timeout) {
        // Default values for the form.
        var DEFAULT_FORM_VALUES = {
          id: -1,
          name: ''
        };
        var DEFAULT_POLLING_MS = 2000;

        // Initialize page with default data which is blank in this example
        $scope.fruitList = [];

        $scope.form = DEFAULT_FORM_VALUES;

        // Begin polling data from the server.
        (function _pollPageData() {
          _refreshPageData().then(function() {
            $timeout(_pollPageData, DEFAULT_POLLING_MS);
          });
        })();

        /* UI operations */

        // Handle the creating and updating of a fruit.
        $scope.update = function () {
          // If there is no id then we are creating a fruit.
          if ($scope.form.id == -1) {
            _createFruit($scope.form.name).then(function(fruit) {
              if (!fruit) {
                return;
              }
              _refreshPageData();
              _resetForm();
            });
            return;
          }
          _updateFruit($scope.form.id, $scope.form.name).then(function(fruit) {
            if (!fruit) {
              return;
            }
            _refreshPageData();
            _resetForm();
          });
        };

        // Delete a fruit and refresh.
        $scope.remove = function (fruit) {
          _deleteFruit(fruit.id).then(_refreshPageData);
        };

        // Update the current form context to reference the provided fruit.
        $scope.edit = function (fruit) {
          $scope.form = {
            id: fruit.id,
            name: fruit.name
          };
        };

        // Reset the form to use default values.
        function _resetForm() {
          $scope.form = DEFAULT_FORM_VALUES;
        }

        // Retrieve all fruit and update the local fruit collection.
        function _refreshPageData() {
          return _listFruit().then(function(fruitList) {
            if (!fruitList) {
              return;
            }
            $scope.fruitList = fruitList;
          });
        }

        /* API operations */

        // Add a new fruit with a specified name to the collection.
        function _createFruit(name) {
          return $http({
            method: 'POST',
            url: '/api/fruits',
            data: {
              name: name
            }
          }).then(_handleSuccessResponse, _handleFailureResponse.bind(null, 'Failed to create fruit'));
        }
        
        // Update an existing fruit in the collection.
        function _updateFruit(id, name) {
          return $http({
            method: 'PUT',
            url: '/api/fruits/' + id,
            data: {
              name: name
            }
          }).then(_handleSuccessResponse, _handleFailureResponse.bind(null, 'Failed to update fruit'));
        }

        // Remove a fruit from the collection by id.
        function _deleteFruit(id) {
          return $http({
            method: 'DELETE',
            url: '/api/fruits/' + id
          }).then(_handleSuccessResponse, _handleFailureResponse.bind(null, 'Failed to delete fruit'));
        }

        // List all fruit in the collection.
        function _listFruit() {
          return $http({
            method: 'GET',
            url: '/api/fruits'
          }).then(_handleSuccessResponse, _handleFailureResponse.bind(null, 'Failed to list fruit'));
        }

        // Default request success handler. Extracts the item data from the
        // response provided.
        function _handleSuccessResponse(resp) {
          return resp.data;
        }

        // Default request error handler.
        function _handleFailureResponse(msgPrefix, errResp) {
          var errorMsg = msgPrefix + ': ' + (errResp.data.message || errResp.statusText);
          console.error(errorMsg);
          alert(errorMsg);
        }
      });
    </script>
</head>
<body ng-app="FruitManagement" ng-controller="FruitManagementController">

<div class="container">
    <h1>CRUD Mission - Spring Boot</h1>
    <p>
        This application demonstrates how a Spring Boot application implements a CRUD endpoint to manage <em>fruits</em>.
        This management interface invokes the CRUD service endpoint, that interact with a ${db.name} database using JDBC.
    </p>

    <h3>Add/Edit a fruit</h3>
    <form ng-submit="update()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Name" ng-model="form.name" size="60"/></div>
        </div>
        <input type="submit" value="Save"/>
    </form>

    <h3>Fruit List</h3>
    <div class="row">
        <div class="col-2">Name</div>
    </div>
    <div class="row" ng-repeat="fruit in fruitList">
        <div class="col-2">{{ fruit.name }}</div>
        <div class="col-8"><a ng-click="edit( fruit )" class="btn">Edit</a> <a ng-click="remove( fruit )" class="btn">Remove</a>
        </div>
    </div>
</div>

</body>
</html>
